<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='icon' type='image/png' href='images/favicon.png' />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Access-Control-Allow-Headers" content="X-Requested-With" />
    
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/leaflet/leaflet.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/fontawesome-free-5.7.2-web/css/all.min.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/sliders/slidebars.min.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/jquery/jquery-ui.min.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='screen' href='vendor/leaflet/leafletdraw/leaflet.draw.css' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    

    <script src='vendor/jquery/jquery-3.3.1.min.js'></script>
    <script src='vendor/jquery/popper.min.js'></script>
    <script src='vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js'></script>
    <script src='vendor/fontawesome-free-5.7.2-web/js/fontawesome.min.js'></script>
    <script src='vendor/sliders/slidebars.min.js'></script>
    <script src='vendor/jquery/jquery-ui.min.js'></script>
    <script src='vendor/leaflet/leaflet.js'></script>
    <script src='javascripts/turf.min.js'></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <script src='vendor/leaflet/leafletdraw/Leaflet.draw.js'></script>
    <script src='vendor/leaflet/leafletdraw/Leaflet.Draw.Event.js'></script>
    <script src='vendor/leaflet/leafletdraw/Control.Draw.js'></script>
    <script src='vendor/leaflet/leafletdraw/Toolbar.js'></script>
    <script src='vendor/leaflet/leafletdraw/Tooltip.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/GeometryUtil.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/LatLngUtil.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/LineUtil.Intersect.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/Polygon.Intersect.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/Polyline.Intersect.js'></script>
    <script src='vendor/leaflet/leafletdraw/ext/TouchEvents.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/DrawToolbar.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Feature.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.SimpleShape.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Polyline.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Marker.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Circle.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.CircleMarker.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Polygon.js'></script>
    <script src='vendor/leaflet/leafletdraw/draw/handler/Draw.Rectangle.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/EditToolbar.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/EditToolbar.Edit.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/EditToolbar.Delete.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.Poly.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.SimpleShape.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.Marker.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.Rectangle.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.CircleMarker.js'></script>
    <script src='vendor/leaflet/leafletdraw/edit/handler/Edit.Circle.js'></script>
    <script src='javascripts/swms.js'></script>
    <script src='javascripts/notify.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
